$color1: #178f97;
$home:rgb(1, 18, 22);
$home2:rgba(0, 255, 255, 0.295);




$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


