// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: ("100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: ("blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary: $cyan !default;
$secondary: $gray-700 !default;
$success: $gray-300 !default;
$info: $white !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: ("primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark) !default;
// scss-docs-end theme-colors-map



@import "../node_modules/bootstrap/scss/bootstrap";
@import"btts";
@import"_colores";
@import"_fotos";




* {
  margin: 0%;
  padding: 0%;
}








.home {

  background-color: $home;
  height: 35px;
  width: 80px;
  font-family: 'Oswald', sans-serif;
  font-size: x-large;
  letter-spacing: 5px;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 10px;
}


.home a {
  color: rgb(95, 236, 225);
  text-decoration: none;
  margin-left: 10px;

}

.home:hover {
  background-color: rgba(0, 255, 255, 0.295);
  height: 45px;
  width: 90px;
  transition: height 3s, width 3s;
}



.home:hover {
  background-color: $home2;
  height: 45px;
  width: 90px;
  transition: height 3s, width 3s;

}


/*caja azul interna*/



#caja{list-style-type: none;
  text-decoration: none;
  background-color: rgba(10, 207, 233, 0.199);
  height: 170px;
  width: 180px;
  border: solid white 2px;
}





.menu {
  li {
    ul {

      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.678);
      border: solid 1px rgb(15, 189, 189);
      height: 30px;
      width: 420px;
      list-style-type: none;
      text-decoration: none;
     

    }

  }
}


.menu li:hover ul {
  display: flex;
  justify-content: space-around;


}

.menu {
  li {
    position: relative;
  }


}

.menu {
  li {

    ul {

      li {

        a {
          letter-spacing: 5px;
          font-family: 'Oswald', sans-serif;
          color: rgb(254, 255, 255);
          list-style-type: none;
          text-decoration: none;

        }
      }
    }

  }

}




/* enlaces nav*/

.enlaces {
  background-color: rgba(0, 0, 0, 0.664);
  width: 200px;
  height: 400px;
  border: solid rgb(23, 143, 151) 2px;
  color: rgb(245, 240, 240);
  letter-spacing: 5px;
  text-decoration: none;
  letter-spacing: 5px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  letter-spacing: 5px;




}

/*FOOTER*/

footer {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 31, 43, 0.5);
  border: rgba(3, 53, 68, 0.473) solid 1px;
  background-image: linear-gradient(to left, rgba(1, 27, 37, 0.219), rgba(2, 173, 252, 0.226));


}


.redesTexto {
  border-radius: 10px;
  letter-spacing: 3px;
  font-family: 'Oswald', sans-serif;
  color: rgba(240, 248, 255, 0.692);
  font-size: 28px;
  background-color: rgba(2, 31, 48, 0);
  padding: 10px;
  margin-top: 12px;
}

.redesTexto {

  animation-name: redes;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 5s;
  animation-delay: 2ms;



}

/*FOOTER ANIMACION*/
@keyframes redes {

  0% {
    transform: scale(.2);
    background-color: none;
  }

  30% {
    background-color: rgba(42, 147, 165, 0.548);
    transform: scale(1);
  }

  100% {
    background-color: rgba(42, 147, 165, 0.555);
  }
}



.fa-facebook,
.fa-twitter,
.fa-instagram-square {
  font-size: 200%;
  color: aliceblue;
}


/*FOTOS FONDO*/

.serviciosImage {
  background-image: url('../files/rototom1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: top;
}


.indexImage {
  background-image: url('../files/publico1.jpg ');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: top;
}

.fotoBooking {
  background-image: url('../files/fotocalle1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: top;

}

.latamFoto {
  background-image: url('../files/dalia\,wide\ 1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.fotoGaleria {
  background-image: url('../files/JoyMadrid1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.fotoAbout {
  background-image: url('../files/fotocalle1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

/*TITULO PRINCIPAL*/

.titulo {

  font-family: 'Oswald', sans-serif;
  letter-spacing: 10px;
 
  font-size: 80px;
  color: rgb(24, 182, 156);
  text-align: center;

}

.subTitulo {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color:white;
 
 

}
#cajaTitulo{
  background-color: rgba(43, 102, 102, 0.342);
  height: 120px;
  width: 80vw;
}
.varios {
  display: flex;
  background-color: rgba(0, 139, 139, 0.473);
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
  color: rgb(0, 217, 255);
  border: solid rgb(14, 93, 99);
  margin-left: 0px;


}


/*med3ia cel*/

@media (min-width:100px),(max-width:576px) 
{ 
#ruta{
  height: 100%;
}
.home{
  margin-top: -20px;
  margin-left: 7.5rem;
}
.titulo{
    font-size: 3.8rem;
    margin-bottom:3.5rem;
    letter-spacing: 3px;
    text-align: conter;
  } 

  #cajaTitulo{
    width:100vw ;
    height: 12rem;
  }
  .subTitulo{
    font-size:1.3rem;
    margin-top: -100px;
    margin-bottom: 60px;
  }

  #fotosCarrusel1{
    margin-top: 15px;
    margin-bottom: 5.5rem;}
  
 .nft{
   margin-bottom: 5rem;

 }

#caja{
  margin-left: 5rem;
}

.redesTexto {
  font-size: 1rem;
  }

  .fa-facebook,
.fa-twitter,
.fa-instagram-square {
font-size: 100%;
color: aliceblue; }

.varios{
  margin-top: 5px;
}


}


/*media tablet*/
@media (min-width:576px),
(max-width:1200) {
  

  #cajaTitulo{
    width:100vw ;
    height: 130px;
  }
  #caja{
    width: 30rem;
    margin-top: 0rem;
    margin-left: 4rem;
  }
  .home{
    border-top: 30px;
  }
   
  #homeVarios{
    margin-top:-2.5rem;
    margin-bottom: 0.9rem;
  }

  

  
  .titulo {
    margin-bottom: -15px;
    font-size: 4.6rem;
  }

  .subTitulo{
    font-size:2rem;
    margin-top: -30px;
    

  }

  .home{
    margin-top: 10px;
  }

  nav {
    
    margin-top: 90px;
  }
  .redesTexto {
    font-size: 1.5rem;
    }
  
    .fa-facebook,
  .fa-twitter,
  .fa-instagram-square {
  font-size: 200%;
  color: aliceblue; }

}

@media(min-width:1200px){






}

.pictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

#fotosCarrusel {
  margin-top: 40px;
  
}





.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

.accordion {
  color: rgb(5, 14, 5);
}


.card-header {
  color: $color1;
  font-family: 'Oswald';
  font-size: 20px;
}

.card-body{
  font-family: 'Oswald';
}

.card-header {
  color: $color1;
}

.card-body {
  color: $color1;
}

.nft{
  display: flex;
  flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;

 

}





  
  
 





